.button {
  border: none;
  background-color: rgb(37, 41, 70);
  font-weight: 600;
  padding: 15px 22px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: filter 200ms ease-in-out;
}
.button:hover {
  filter: brightness(130%);
}
